<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="outputPath" value="C://Users/ilya_/DESKTOP"/>
		<add key="videoPath" value="C://TempVideo"/>
		<add key ="audioPath" value="C://TempAudio"/>
		<add key="tempPath" value="C://TempVideo/Screenshots"/>
		<add key="timerIntervalSetting" value="30"/>
	</appSettings>
</configuration>
