<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="outputPath" value="C://Temp/Video"/>
		<add key="tempPath" value="C://Temp/Screenshots"/>
		<add key="audioPath" value="C://Temp/Audio"/>
		<add key="timerIntervalSetting" value="10"/>
	</appSettings>
</configuration>
